.wpamp-nav{
  margin-top: 25px;
  height: 35px;
  background-color: $dark;
  @include flexRowCenter(center);
  &__list{
    padding: 0;
    width: 100%;
    list-style: none;
    @include flexRowCenter(center);
    max-width: 270px;
    background-color: $dark;
    li{
      &:not(:first-child):before {
        content: " | ";
        color:$light;
        padding-left: 4px;
      }
    }
    &-item{
      color: $faint;
      text-decoration: none;
      text-align: center;
      padding: 0px 5px;
      &:hover,&:focus{
        color:white;
        text-decoration: none;
      }
      &:visited{
        text-decoration: none;
      }
    }
  }
}
