/*
    Amp Template SCSS
*/

/* variables */

 $accentColor:#0085ba;
 $dark:#333333;
 $light:#afafaf;
 $mid:#777777;
 $faint:#f5f5f5;


$defaultFont:Helvetica,Arial, sans-serif;
$bodyFont:'Quicksand',Helvetica,Arial, sans-serif;


/*Files*/
@import "_1mix";
@import "_nav";
@import "_structure";
@import "_footer";
